dj-database-url==0.4.1
Django==1.8.13
gunicorn==19.6.0
psycopg2==2.7.1
whitenoise==2.0.6
appdirs==1.4.3
django-allauth==0.22.0
django-cart==1.0.4
django-filer==1.2.7
django-filter==1.0.2
django-mailgun==0.9.1
django-mptt==0.8.7
django-paypal==0.3.6
django-polymorphic==1.0.2
easy-thumbnails==2.3
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pyparsing==2.2.0
python-openid==2.2.5
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
Unidecode==0.4.20
django-contrib-comments==1.7.1
